{% extends 'instructor.html' %}
{% load static %}

{% block style %}

{% endblock %}
{% block dashboardBody %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{% static 'dashboard/css/manage.css' %}" rel="stylesheet" />
<div class="container mt-3">
    {% if messages %}
        {% for message in messages %}
        <br> 
        <div class="alert mymsg alert-{{ message.tags }} alert-dismissible fade show mx-0" role="alert">
            <strong> {{ message }} </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}

   <h1> Welcome </h1>
   <div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Course Details
    </div>
    <div class="card-body">
        <table id="datatablesSimple">                    
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Course Designed By</th>             
                    <th>Course Release Date</th>                            
                    <th>Course Price</th>                            
                    <th>Action</th>                            
                </tr>
            </thead>
            
            <tbody>
                {% for course in course_center %}     
                <tr>
                    <td> {{ course.course_name }} </td>
                    <td> {{ course.course_designed_by }} </td>
                    <td> {{ course.release_date}} </td>
                    <td> {{ course.course_price }} </td>
                    <td> 
                        <button class="btn btn-primary"> <i class="fas fa-eye"></i> View</button>
                        <button class="btn btn-success"> <i class="fas fa-edit"></i> Edit </button>
                        <button class="btn btn-danger"> <i class="fas fa-trash"></i> Delete </button>
                    </td>
                </tr>         
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}

{% block script %}

{% endblock %}